/*@tailwind base;*/

/*@tailwind components;*/

/*@tailwind utilities;*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{width: 100vw; min-width: 900px;}

.wrapper{width: 100%;}

.nav{width: 100%;height: 60px;text-align: center;background-color: green; color: #fff; font-weight: 500;position: fixed;top: 0; }
.nav .header_left{float: left;height: 60px;line-height: 60px;margin-left: 60px;}
.nav .header_right{float: right;height: 60px;line-height: 60px;margin-right: 60px;}
.nav .header_right span{padding: 2px 20px;cursor: pointer;}
/*.nav .header_right .btn2{margin-left: 5px;}*/

.container{display: grid;grid-template-columns: repeat(4, 1fr); gap: 10px 20px; text-align: center;margin-top: 50px;}
.container .content_box{width: 95%;margin: 50px auto;border: solid 2px #ddd;height: 470px; border-radius: 50px;}
.container .content_box .content{height: 100%;}
.container .content_box .content img {width: 160px;height: 160px;margin-top: 40px;}
.container .content_box .content .title{font-size: 24px;font-weight: 800;color: green;height: 30px;line-height: 30px;margin: 20px auto;}
.container .content_box .content .input_box{height: 45px;width: 70%; border-radius: 25px;border: 2px solid green; margin: 0 auto;justify-content: space-between;padding: 0 24px;display: flex; margin-bottom: 12px;}
.container .content_box .content .input_box p{height: 45px;line-height: 45px;font-weight: 700;}
.container .content_box .content .input_box input{height: 100%;background-color: rgba(0, 0,0,0); border:none;}
.container .content_box .content .input_box select{height: 100%;background-color: rgba(0, 0,0,0); border:none;}


.container .content_box .content .save{width: 40%; background-color: green;border: 2px solid #fff;color: #fff;;border-radius: 20px;height: 40px;font-size: 18px;font-weight: 700;margin-top: 5px;}
.container .content_box .content .save:hover{background-color: #fff;border: 2px solid green;color: green;;border-radius: 20px;height: 40px;font-size: 18px;font-weight: 700;}


/* list */
.table_container{width: 100%;margin-top: 70px;text-align: center;}
.table_container .thead{height: 60px;line-height: 60px;box-shadow: 10px 5px 5px #ddd;}
.table_container .list_name{border: 2px solid #fff;background-color: rgb(141, 226, 141); color: #fff;font-size: 18px; font-weight: 600;}
tbody .tr{height: 50px;line-height: 50px;border-bottom: 2px solid rgba(87, 191, 87, 0.505) ;}
tbody .tr td{border-left: 2px solid rgba(87, 191, 87, 0.505) ; color: rgb(123, 123, 123);font-weight: 700;}
tbody .tr td .booking_btn{width: 80%; background-color: green;border: 2px #fff solid cc;color: #fff;;border-radius: 20px;height: 40px;font-size: 18px;font-weight: 700;}
tbody .tr td .booking_btn:hover{background-color: #fff;border: 2px solid green;color: green;;border-radius: 20px;}
tbody .tr td .booking_no_btn{width: 80%; background-color: red;border: 2px #fff solid cc;color: #fff;;border-radius: 20px;height: 40px;font-size: 18px;font-weight: 700;}
tbody .tr td .booking_no_btn:hover{background-color: #fff;border: 2px solid green;color: green;;border-radius: 20px;}


/*유저 정보*/
.user_info{margin-top: 75px; height: 50px; line-height: 50px; width: 100%;  }
.info_box {width: 100%; margin-left: 40px}
.user_info .p_box {margin-left : 10px; float:left; width: 23%; text-align: center; background-color: #eee; border-radius: 25px}
.info_box .p_box .strong_box {float:left; width: 38%; text-align: left; padding-left: 6px; font-size: 18px; font-weight: 700; color: darkcyan;}
.info_box .p_box .user_properties {width: 60%; float:right;text-align: center;}

/* */
.table_user_rentals_container{width: 100%;margin-top: 10px;text-align: center;}
.table_user_rentals_container .thead{height: 60px;line-height: 60px;box-shadow: 10px 5px 5px #ddd;}
.table_user_rentals_container .list_name{border: 2px solid #fff;background-color: rgb(141, 226, 141); color: #fff;font-size: 18px; font-weight: 600;}
tbody .tr{height: 50px;line-height: 50px;border-bottom: 2px solid rgba(87, 191, 87, 0.505) ;}
tbody .tr td{border-left: 2px solid rgba(87, 191, 87, 0.505) ; color: rgb(123, 123, 123);font-weight: 700;}
tbody .tr td .booking_btn{width: 80%; background-color: green;border: 2px #fff solid cc;color: #fff;;border-radius: 20px;height: 40px;font-size: 18px;font-weight: 700;}
tbody .tr td .booking_btn:hover{background-color: #fff;border: 2px solid green;color: green;;border-radius: 20px;}
tbody .tr td .booking_no_btn{width: 80%; background-color: red;border: 2px #fff solid cc;color: #fff;;border-radius: 20px;height: 40px;font-size: 18px;font-weight: 700;}

.no_data {width: 100%; margin: 20px auto; font-size: 30px;}
.no_data h1 {width: 100%; text-align: center}